#usercontainer{
position:absolute;
left:1550px;

}

.usertile{
   color:white;
   padding:10px;
   width:300px;
   border-width: 1px; 
   border-style: solid;
   border-color: white;
   margin-top:10px;
   background-image: -webkit-gradient(
   linear,
   left bottom,
   left top,
   color-stop(0, #000000),
   color-stop(0.5, #121212),
   color-stop(0.8, #232323)
);
}

#userinfo{
   margin:2px;

}
